'context-menu':
  'atom-text-editor': [
    {
      'label': 'PHPCBF: Reformat'
      'command': 'phpcbf:reformat'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PHPCBF'
      'submenu': [
        {
          'label': 'Reformat'
          'command': 'phpcbf:reformat'
        }
      ]
    ]
  }
]
